@import url(./reset.css);
@import url(./variables.css);

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300&display=swap');

#app {
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  border-radius: var(--space-xs);
}

/* -------------------------------------------------------- */
/* TEXT STYLES */
.section-title {
  grid-column: 1 / -1;
  font-size: var(--h-size-md);
}

p {
  font-size: var(--p-size-xs);
}

.val-lg {
  color: var(--text-color);
  font-size: var(--h-size-md);
  font-weight: 800;
}
.val-md {
  color: var(--text-color);
  font-size: var(--h-size-sm);
  font-weight: 600;
}
.val-sm {
  color: var(--text-color);
  font-size: var(--p-size-sm);
  font-weight: 500;
}

.label {
  display: flex;
  gap: var(--space-md);
  align-items: baseline;
  place-self: center stretch;
  flex: 1 0 auto;

  font-size: var(--p-size-xs);
  color: var(--grey-lt);
  background: var(--grey-dk);
  padding: var(--space-xs) var(--space-md);
  border-radius: var(--space-xs);
}

/* -------------------------------------------------------- */
/* LAYOUT */
.container {
  display: grid;
  gap: var(--space-md);
  color: var(--text-color);
  border-radius: var(--space-xl);
  border: 1px solid var(--grey-md);
  background: var(--text-color);
}
.sub-container {
  border-radius: var(--space-md);
  background: var(--bg-color);
}

.val-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  gap: var(--space-xs);
  place-items: center;

  padding: var(--space-sm) var(--space-md) var(--space-md);
  border-radius: var(--space-md);

  color: var(--grey-md);
  background: var(--bg-color);
}
