@tailwind base;
@tailwind components;
@tailwind utilities;

/* bootstrap icons */
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css');
/* jet brains font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300&display=swap');

#app {
  @apply text-neutral-400 font-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  color: inherit;
  width: 4px;
  height: 4px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);
  color: inherit;
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(202, 138, 4, 1);
  color: inherit;
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar:window-inactive {
  visibility: hidden;
}

/*forms */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  @apply transition-colors;
}

p {
  @apply text-sm;
}

button {
  @apply text-sm font-normal text-neutral-300 hover:text-neutral-200
      bg-neutral-700 hover:bg-neutral-600
      py-1 px-3 rounded-md transition-colors;
}

button.warn {
  @apply font-bold text-yellow-950 bg-yellow-500 py-1 px-3 rounded-md transition-colors
  hover:text-orange-950 hover:bg-orange-600
  active:text-red-950 active:bg-red-600;
}

.label {
  @apply flex flex-grow flex-shrink-0 gap-1
          align-baseline self-start
          px-2 py-1 rounded-sm
          text-sm
          text-neutral-300 bg-neutral-800;
}

.val-container {
  @apply grid grid-cols-1 grid-rows-[min-content_1fr] gap-0 place-items-center px-6 py-2 bg-neutral-950 rounded-md;
}

:root {
  /* SIZING */
  --border-w: 1px solid;

  /* SPACING */
  --space-xxs: 2px;
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 12px;
  --space-lg: 16px;
  --space-xl: 20px;
  --space-xxl: 24px;
  --space-xxxl: 28px;

  /* COLOR */
  --text-color: white;
  --bg-color: black;
  --inset-color: var(--grey-dk);

  --grey-lt: rgb(200, 200, 200);
  --grey-md: rgb(150, 150, 150);
  --grey-dk: rgb(20, 20, 20);

  --HP-bonus: rgb(38, 176, 255);
  --HP-low: rgb(255, 191, 0);
  --HP-crit: rgb(255, 27, 27);

  /* FONT - headings */
  --h-size-xl: 32px;
  --h-size-lg: 28px;
  --h-size-md: 24px;
  --h-size-sm: 20px;

  /* FONT - paragraph */
  --p-size-md: 20px;
  --p-size-sm: 16px;
  --p-size-xs: 14px;

  /* FONT - numbers */
  --num-size-md: 20px;
  --num-size-sm: 16px;
  --num-size-xs: 14px;
}

/* -------------------------------------------------------- */
.val-md {
  color: var(--text-color);
  font-size: var(--h-size-sm);
  font-weight: 600;
}
.val-sm {
  color: var(--text-color);
  font-size: var(--p-size-xs);
  font-weight: 500;
}

/* -------------------------------------------------------- */
/* LAYOUT */
.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container-lvl0 {
  @apply bg-neutral-800;
  display: grid;
  gap: var(--space-xl);
  padding: var(--space-md);
  color: var(--text-color);
}
.container-lvl1 {
  display: grid;
  gap: var(--space-sm);
}
.container-lvl2 {
  @apply grid bg-neutral-900;
}

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

/* animations */

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

/* FADE */
/* -------------------------------------------------------- */
.fade-leave-active {
  transition: opacity 0.2s ease-in;
}
.fade-enter-active {
  transition: opacity 0.2s ease-out;
}
.fade-leave-to,
.fade-enter-from {
  opacity: 0;
}

/* SCALE FADE */
/* -------------------------------------------------------- */
.scale-fade-enter-active {
  transition:
    transform 200ms ease-in,
    opacity 200ms ease-in;
}
.scale-fade-leave-active {
  transition:
    transform 300ms ease-out,
    opacity 200ms ease-out;
}

.scale-fade-enter-from,
.scale-fade-leave-to {
  transform: scale(0.9);
  opacity: 0;
}

/* SLIDE DOWN */
/* -------------------------------------------------------- */
.slide-down-leave-active {
  transition:
    transform 0s ease-in,
    opacity 0s ease-in;
}
.slide-down-enter-active {
  transition:
    transform 250ms ease-in-out,
    opacity 200ms ease-out;
}
.slide-down-enter-from,
.slide-down-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

/* SLIDE UP SMALL */
/* -------------------------------------------------------- */
.slide-up-sm-leave-active {
  transition:
    transform 200ms ease-in,
    opacity 200ms ease-in;
}
.slide-up-sm-enter-active {
  transition:
    transform 150ms ease-in,
    opacity 150ms ease-out;
}
.slide-up-sm-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}
.slide-up-sm-enter-from {
  transform: translateY(20px);
  opacity: 0;
}

/* SLIDE UP MD */
/* -------------------------------------------------------- */
.slide-up-md-leave-active {
  transition:
    transform 300ms ease-in,
    opacity 200ms ease-in;
}
.slide-up-md-enter-active {
  transition:
    transform 200ms ease-out,
    opacity 200ms ease-out;
}
.slide-up-md-leave-to {
  transform: translateY(-100px);
  opacity: 0;
}
.slide-up-md-enter-from {
  transform: translateY(100px);
  opacity: 0;
}

/* SLIDE DOWN MD */
/* -------------------------------------------------------- */
.slide-down-md-leave-active {
  transition:
    transform 150ms ease-in,
    opacity 150ms ease-in;
}
.slide-down-md-enter-active {
  transition:
    transform 200ms ease-out,
    opacity 200ms ease-out;
}
.slide-down-md-leave-to {
  transform: translateY(-100px);
  opacity: 0;
}
.slide-down-md-enter-from {
  transform: translateY(-100px);
  opacity: 0;
}
