@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300&display=swap');

#app {
  @apply text-zinc-400 font-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

p {
  @apply text-sm;
}

button {
  @apply font-bold text-zinc-300 bg-zinc-600 py-1 px-4 rounded-md transition-colors;
}
button:hover {
  @apply text-zinc-400 bg-zinc-700;
}
button.warn {
  @apply font-bold text-yellow-950 bg-yellow-500 py-2 px-4 rounded-md transition-colors;
}
button.warn:hover {
  @apply text-orange-950 bg-orange-600;
}
button.warn:active {
  @apply text-red-950 bg-red-600;
}

.label {
  @apply flex flex-initial flex-shrink-0 gap-1
          align-baseline self-start
          px-2 py-1 rounded-sm
          text-sm
          text-zinc-300 bg-zinc-900;
}

.val-container {
  @apply grid grid-cols-1 grid-rows-[min-content_1fr] gap-0 place-items-center px-6 py-2 bg-zinc-950 rounded-md;
}

:root {
  /* SIZING */
  --border-w: 1px solid;

  /* SPACING */
  --space-xxs: 2px;
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 12px;
  --space-lg: 16px;
  --space-xl: 20px;
  --space-xxl: 24px;
  --space-xxxl: 28px;

  /* COLOR */
  --text-color: white;
  --bg-color: black;
  --inset-color: var(--grey-dk);

  --grey-lt: rgb(200, 200, 200);
  --grey-md: rgb(150, 150, 150);
  --grey-dk: rgb(20, 20, 20);

  --HP-bonus: rgb(38, 176, 255);
  --HP-low: rgb(255, 191, 0);
  --HP-crit: rgb(255, 27, 27);

  /* FONT - headings */
  --h-size-xl: 32px;
  --h-size-lg: 28px;
  --h-size-md: 24px;
  --h-size-sm: 20px;

  /* FONT - paragraph */
  --p-size-md: 20px;
  --p-size-sm: 16px;
  --p-size-xs: 14px;

  /* FONT - numbers */
  --num-size-md: 20px;
  --num-size-sm: 16px;
  --num-size-xs: 14px;
}

/* -------------------------------------------------------- */
/* TEXT STYLES */
.section-title {
  grid-column: 1 / -1;
  font-size: var(--h-size-md);
}

.val-lg {
  @apply text-zinc-200 text-xl font-bold;
}
.val-md {
  color: var(--text-color);
  font-size: var(--h-size-sm);
  font-weight: 600;
}
.val-sm {
  color: var(--text-color);
  font-size: var(--p-size-xs);
  font-weight: 500;
}

/* -------------------------------------------------------- */
/* LAYOUT */
.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container-lvl0 {
  display: grid;
  gap: var(--space-xl);
  padding: var(--space-md);
  color: var(--text-color);
  background: var(--bg-color);
}
.container-lvl1 {
  display: grid;
  gap: var(--space-sm);
}
.container-lvl2 {
  display: grid;
  gap: var(--space-sm);
  background: var(--grey-dk);
}
